@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
.menu-container {
  margin-top: 20px;
}
.menu-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.menu-container:nth-child(3) {
  margin-top: 200px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu_list {
  display: flex;
  width: 20em !important;
  padding-left: 1em !important;
  text-align: left !important;
  font-size: 0.9em !important;
}

.active {
  color: #5f0080;
}

.sub_menu.menu-1,
.sub_menu.menu-2 {
  display: none;
}

.menu_list.menu-1:hover + .sub_menu.menu-1 {
  display: block;
  visibility: visible;
}

.menu_list.menu-2:hover + .sub_menu.menu-2 {
  display: block;
  visibility: visible;
}

.dropdown .sub_menu {
  position: fixed;
  width: 20em;
  right: -20em;
  /* height: 47.2em; */
  height: auto;
  background: #ddd;
}

.sub_menu a.sub {
  font-size: 15px !important;
  padding: 0.4em 0 0.5em 1em !important;
  height: auto !important;
  text-align: left !important;
}

.sub_menu li {
  padding: 0;
}

ul.sub_menu li {
  width: 15em !important;
  background-color: #ddd;
}

ul.sub_menu li:hover {
  background-color: #ddd !important;
  text-decoration: underline !important;
}

ul.sub_menu li span:hover {
  text-decoration: underline !important;
}

a.menu_list {
  padding: 0.5em 0 0.5em 1em !important;
  height: auto !important;
}

a.menu_list .tit {
  margin-left: 0.6em;
}

a.menu_list span.icon_n {
  width: 1em;
  margin: 0.2em 0 0 0.5em;
}

.dropdown:hover {
  /* background: #2980b9; */
  cursor: pointer;
}
.dropdown:hover .dropdown_menu li {
  display: block;
}

.dropdown .menu_list {
  line-height: 1;
  font-size: 0.9em;
}

.dropdown .menu_list img {
  width: 1.5em;
}

.dropdown_menu {
  position: absolute;
  display: inline-grid;
  top: 101%;
  justify-self: start;
  left: 0;
  perspective: 999px;
  z-index: 10;
  cursor: pointer;
}
.dropdown_menu li {
  width: 17.5em;
  display: none;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  z-index: 100;
  cursor: pointer;
}
.dropdown_menu li:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}
.dropdown_menu-2 .dropdown_item-1 {
  transform-origin: top center;
  animation: rotateX 300ms 10ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-2 {
  transform-origin: top center;
  animation: rotateX 300ms 70ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-3 {
  transform-origin: top center;
  animation: rotateX 300ms 130ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-4 {
  transform-origin: top center;
  animation: rotateX 300ms 190ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-5 {
  transform-origin: top center;
  animation: rotateX 300ms 250ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-6 {
  transform-origin: top center;
  animation: rotateX 300ms 310ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-7 {
  transform-origin: top center;
  animation: rotateX 300ms 370ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-8 {
  transform-origin: top center;
  animation: rotateX 300ms 410ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-9 {
  transform-origin: top center;
  animation: rotateX 300ms 450ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-10 {
  transform-origin: top center;
  animation: rotateX 300ms 490ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-11 {
  transform-origin: top center;
  animation: rotateX 300ms 540ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-12 {
  transform-origin: top center;
  animation: rotateX 300ms 580ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-13 {
  transform-origin: top center;
  animation: rotateX 300ms 620ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-14 {
  transform-origin: top center;
  animation: rotateX 300ms 660ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-15 {
  transform-origin: top center;
  animation: rotateX 300ms 700ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-16 {
  transform-origin: top center;
  animation: rotateX 300ms 740ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-17 {
  transform-origin: top center;
  animation: rotateX 300ms 780ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-18 {
  transform-origin: top center;
  animation: rotateX 300ms 820ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-19 {
  transform-origin: top center;
  animation: rotateX 300ms 860ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-20 {
  transform-origin: top center;
  animation: rotateX 300ms 900ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-21 {
  transform-origin: top center;
  animation: rotateX 300ms 940ms ease-in-out forwards;
}
@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-moz-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-moz-keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@-webkit-keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@-o-keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@-moz-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@-webkit-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@-o-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-o-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-moz-keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@-webkit-keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@-o-keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@-moz-keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
